## Downloading and cleaning some books:

In [3]:
import urllib.request
import re
import numpy as np
import pandas as pd

In [4]:
books = pd.read_csv('books.csv', encoding='latin-1')

In [9]:
books.shape

(18807125, 4)

In [10]:
books.head()

,gutenberg_id,text,title,author
0,11,ALICE'S ADVENTURES IN WONDERLAND,Alice's Adventures in Wonderland,"Carroll, Lewis"
1,11,NaN,Alice's Adventures in Wonderland,"Carroll, Lewis"
2,11,Lewis Carroll,Alice's Adventures in Wonderland,"Carroll, Lewis"
3,11,NaN,Alice's Adventures in Wonderland,"Carroll, Lewis"
4,11,THE MILLENNIUM FULCRUM EDITION 3.0,Alice's Adventures in Wonderland,"Carroll, Lewis"

In [12]:
books = books.fillna('') #get rid of NaNs

In [8]:
books[['text', 'title', 'author']] = books[['text', 'title', 'author']].astype(str)
books = books.fillna('')

In [68]:
book_titles = list(books['title'].unique())
book_authors = list(books['author'].unique())

In [69]:
len(book_titles) #some books have same title

3515

In [70]:
len(book_authors)

950

In [88]:
book_ids = books[['gutenberg_id','author','title']]

In [92]:
book_ids = book_ids.drop_duplicates(['author','title'])
len(book_ids) #keep unique author+title combos

3527

In [93]:
book_ids.head()

,gutenberg_id,author,title
0,11,"Carroll, Lewis",Alice's Adventures in Wonderland
3339,12,"Carroll, Lewis",Through the Looking-Glass
7246,13,"Carroll, Lewis",The Hunting of the Snark: An Agony in Eight Fits
8086,15,"Melville, Herman",Moby Dick
8248,19,"Longfellow, Henry Wadsworth",The Song of Hiawatha

In [94]:
duplicates = book_ids[book_ids.duplicated('title',keep=False)]
duplicates.sort_values("title") #we have some duplicate titles but they may be other books/authors

,gutenberg_id,author,title
474573,225,"MacDonald, George",At the Back of the North Wind
12229114,18614,,At the Back of the North Wind
17972259,31686,"Smith, Evelyn E.",Collector's Item
17483938,28924,"Young, Robert F.",Collector's Item
18645803,51305,"Harmon, Jim",Confidence Game
18043092,32243,"McKimmey, James",Confidence Game
6909308,7439,,English Fairy Tales
11417454,17034,"Steel, Flora Annie Webster",English Fairy Tales
17650117,29832,"Wells, Basil",Second Sight
15784792,22997,"Nourse, Alan Edward",Second Sight
17300527,26140,"Kenyon, Ernest M.",Security
15333018,22239,"Anderson, Poul",Security
14989754,21823,,The Butterfly's Ball and the Grasshopper's Feast
14016490,20860,"Roscoe, William",The Butterfly's Ball and the Grasshopper's Feast
18442349,50332,"O'Brien, Fitz-James",The Diamond Lens
15856528,23169,"O'Brien, Fitz James",The Diamond Lens
17802946,30438,"McKimmey, James",The Eyes Have It
17908231,30833,"Garrett, Randall",The Eyes Have It
17956325,31516,"Dick, Philip K.",The Eyes Have It
505891,285,"Hyne, Charles John Cutcliffe Wright",The Lost Continent
351712,149,"Burroughs, Edgar Rice",The Lost Continent
17417733,27797,"Vance, Gerald",Vital Ingredient
17853712,30491,"De Vet, Charles V. (Charles Vincent)",Vital Ingredient

In [101]:
blank_dupes = list(duplicates.loc[duplicates['author'] == '', 'gutenberg_id'])
blank_dupes

[7439, 18614, 21823]

In [106]:
#I want to get rid of these blank dupes (3 books with no author and identical titles)
for number in blank_dupes:
    book_ids = book_ids[book_ids.gutenberg_id != number]
    
len(book_ids)

3524

In [114]:
# make a list of complete book text for each book

books_list=[]
for book in book_ids.gutenberg_id.unique():
    books_list.append((' ').join(books.loc[books['gutenberg_id'] == book]['text']))

In [1]:
books.loc[books['gutenberg_id'] == book]['text']

NameError: name 'books' is not defined

In [115]:
len(books_list)

3524

In [116]:
books_list[6][:1000]

"The War of the Worlds  by H. G. Wells [1898]        But who shall dwell in these worlds if they be      inhabited? .  .  .  Are we or they Lords of the      World? .  .  .  And how are all things made for man?--           KEPLER (quoted in The Anatomy of Melancholy)    BOOK ONE  THE COMING OF THE MARTIANS    CHAPTER ONE  THE EVE OF THE WAR   No one would have believed in the last years of the nineteenth century that this world was being watched keenly and closely by intelligences greater than man's and yet as mortal as his own; that as men busied themselves about their various concerns they were scrutinised and studied, perhaps almost as narrowly as a man with a microscope might scrutinise the transient creatures that swarm and multiply in a drop of water.  With infinite complacency men went to and fro over this globe about their little affairs, serene in their assurance of their empire over matter.  It is possible that the infusoria under the microscope do the same.  No one gave a tho"

In [124]:
book_ids['text'] = books_list
books_df = book_ids

In [125]:
import pickle

pickler = open("books_df.pkl","wb")
pickle.dump(books_df, pickler)
pickler.close()

pickler = open("book_authors.pkl","wb")
pickle.dump(book_authors, pickler)
pickler.close()

pickler = open("books_list.pkl","wb")
pickle.dump(books_list, pickler)
pickler.close()

pickler = open("book_titles.pkl","wb")
pickle.dump(book_titles, pickler)
pickler.close()